<html>

    <head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="static/stylesheet.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <title>Visual 4 - Wind Speed</title>
    </head>

    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Plots
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="visual1.html">Humidity Plot</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="visual2.html">Cloudiness Plot</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="visual3.html">Max Temp Plot</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="visual4.html">Wind Speed Plot</a>
                  </div>
              </li>
                <li class="nav-item">
                    <a class="nav-link" href="comparisons.html">Comparisons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="data.html">Data</a>
                </li>
                  <!-- </li>
                </li>
                </li> -->
              </ul>
            </div>
          </nav>
          <div class="container">
            <div class = "row">
                <div class = "col-sm-12 col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading"><h2>Plot 4: City Latitude vs. Wind Speed</h2></div>
                        <div class="panel-body">
                          <p><img width="100%" src="../static/Wind_Speed.png" alt = "Plot4" /></p>
                          <p><h4>Description:</h4></p>
                          <p>The above plot comparing latitude and wind speed fails to reveal any relationship between the two variables.  
                            At the extremes of the X axis (north and south poles) we can see there is a greater variation 
                            in wind speeds while cities between -40 and 60 degrees latitude seem to have a smaller level of variation and are more evenly distributed. Once again, it is important 
                            to consider that the location of randomly selected cities could affect this data. For example cities at a higher elevation would be expected to experience greater wind speeds
                            than cities at lower elevations. </p>
                        </div>
                    </div>
                </div>  
                <div class = "col-sm-12 col-md-4">
                    <div class="panel panel-success">
                        <div class="panel-heading"><h2>Visualizations</h2></div>
                        <div class="panel-body">
                          <div class = "row">
                            <div class = "col-6">
                              <a href="visual1.html">
                                <img src= "../static/Humidity.png" alt = "" width="150" height="150"/>
                              </a>
                            </div>
                            <div class = "col-6">
                              <a href="visual2.html">
                                <img src= "../static/Cloudiness.png" alt = "" width="150" height="150"/>
                              </a>
                            </div>
                          </div>
                          <div class = "row">
                            <div class = "col-6">
                              <a href="visual3.html">
                                <img src= "../static/Max_Temp.png" alt = "" width="150" height="150"/>
                              </a>
                            </div>
                            <div class = "col-6">
                              <a href="visual4.html">
                                <img src= "../static/Wind_Speed.png" alt = "" width="150" height="150"/>
                              </a>
                            </div>
                          </div>
                      </div>
                    </div>
                </div>  
            </div>
          </div>


    </body>



</html>
